/* common */
.change-opacity{
    /* These three lines are for transparency in all browsers. */
    /*-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";*/
    /* Opacity for IE8 and lower */
    /*filter: alpha(opacity=50);*/
    /* Opacity for Modern Browsers */
    /*opacity: 0.5;*/
}

.info-box-number{
    word-wrap: break-word !important;
}

.modal-body{
    word-wrap: break-word !important;
}

/* tooltip */
.tooltip{
    position: fixed;
    z-index: 999999999 !important;
}

/* datatable */
/*table.dataTable tbody td{
    word-break: break-word !important;
    vertical-align: top;
}*/

/*table td {
    transition: all .5s;
    max-width: 120px;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
    word-wrap: break-word;
    overflow: hidden;
}*/

/* background */
.bg-green{
    background-color: rgba(34,139,34,1) !important;
    color: rgba(0, 0, 0, 1) !important;
}

.bg-red{
    background-color: rgba(128,0,0,1) !important;
    color: rgba(0, 0, 0, 1) !important;
}

.bg-yellow{
    background-color: rgba(255,190,0,1) !important;
    color: rgba(0, 0, 0, 1) !important;
}

/* background animation */
@-webkit-keyframes colour_animation_01{
    /*from { color: rgba(0, 0, 0, 0); }
    to { color: rgba(255, 255, 255, 1); }*/
    0% {background-color: rgba(155, 100, 100, 1);}
    25% {background-color: rgba(180, 95, 95, 1);}
    50% {background-color: rgba(205, 80, 80, 1);}
    75% {background-color: rgba(230, 75, 75, 1);}
    100% {background-color: rgba(255, 60, 60, 1);}
}
@-moz-keyframes colour_animation_01{
    /*from { color: rgba(0, 0, 0, 0); }
    to { color: rgba(255, 255, 255, 1); }*/
    0% {background-color: rgba(155, 100, 100, 1);}
    25% {background-color: rgba(180, 95, 95, 1);}
    50% {background-color: rgba(205, 80, 80, 1);}
    75% {background-color: rgba(230, 75, 75, 1);}
    100% {background-color: rgba(255, 60, 60, 1);}
}
@-ms-keyframes colour_animation_01{
    /*from { color: rgba(0, 0, 0, 0); }
    to { color: rgba(255, 255, 255, 1); }*/
    0% {background-color: rgba(155, 100, 100, 1);}
    25% {background-color: rgba(180, 95, 95, 1);}
    50% {background-color: rgba(205, 80, 80, 1);}
    75% {background-color: rgba(230, 75, 75, 1);}
    100% {background-color: rgba(255, 60, 60, 1);}
}
@-o-keyframes colour_animation_01{
    /*from { color: rgba(0, 0, 0, 0); }
    to { color: rgba(255, 255, 255, 1); }*/
    0% {background-color: rgba(155, 100, 100, 1);}
    25% {background-color: rgba(180, 95, 95, 1);}
    50% {background-color: rgba(205, 80, 80, 1);}
    75% {background-color: rgba(230, 75, 75, 1);}
    100% {background-color: rgba(255, 60, 60, 1);}
}
@keyframes colour_animation_01{
    /*from { color: rgba(0, 0, 0, 0); }
    to { color: rgba(255, 255, 255, 1); }*/
    0% {background-color: rgba(155, 100, 100, 1);}
    25% {background-color: rgba(180, 95, 95, 1);}
    50% {background-color: rgba(205, 80, 80, 1);}
    75% {background-color: rgba(230, 75, 75, 1);}
    100% {background-color: rgba(255, 60, 60, 1);}
}

.bg-animation-01{ 
    /*background-color: rgba(0, 0, 0, 1);*/
    -webkit-animation-name: colour_animation_01;
    -moz-animation-name: colour_animation_01;
    -ms-animation-name: colour_animation_01;
    -o-animation-name: colour_animation_01;
    animation-name: colour_animation_01;
    -webkit-animation-duration: 3s;
    -moz-animation-duration: 3s;
    -ms-animation-duration: 3s;
    -o-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    -ms-animation-delay: 0s;
    -o-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -moz-animation-direction: alternate;
    -ms-animation-direction: alternate;
    -o-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    -ms-animation-timing-function: ease;
    -o-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-fill-mode: none;
    -moz-animation-fill-mode: none;
    -ms-animation-fill-mode: none;
    -o-animation-fill-mode: none;
    animation-fill-mode: none;
}

.disabled_href{
    color: inherit;
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.5;
    text-decoration: none;
}

/* font-size */
.font-size-1-0{
    font-size: 1rem !important;
}

.font-size-1-5{
    font-size: 1.5rem !important;
}

.font-size-2-0{
    font-size: 2rem !important;
}

.dashboard-font-1{
    font-family: liquid_crystal !important;
}

/* fullscreen-modal */
.modal-full{
    min-width: 100%;
    margin: 0;
}
.modal-full .modal-content{
    min-height: 100vh;
}